<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.nfirvine.osx-lock-on-remove-yubikey</string>
    <key>Program</key>
    <string>/usr/local/bin/osx-lock-on-remove-yubikey.sh</string>
    <key>ProgramArguments</key>
    <array>
      <string>osx-lock-on-remove-yubikey</string>
      <string>1050</string>
      <string>0120</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
